$color-blue: #416071;
$color-white: #fff;
$color-black: #19141f;

a.side-bar-customers-name.nav-link {
  height: 48px;
  display: flex;
  align-items: center;
  color: $color-blue;
  padding: 0 8px;
  text-align: right;
  margin: 0;

  &:hover {
    background-color: $color-blue;
    color: $color-white;
  }

  &.active {
    background-color: $color-blue;
    color: $color-white;
  }

  &:focus {
    background-color: $color-blue;
    color: $color-white;
    border: 0;
  }

  .close-customer-icon {
    width: 22px;
    height: 22px;
    border: 0;
    border-radius: 0 0 0 40%;
    background-color: #416071;
    color: #fff;
    position: absolute;
    background-repeat: no-repeat;
    left: -10px;
    z-index: 4;
    transform: rotate(45deg);

    .close-customer-icon-x {
      transform: rotate(135deg);
      position: absolute;
      width: 16px;
      height: 16px;
      margin: 0;
      padding: 0;
      top: 3px;
      right: 3px;
      border-radius: 50%;

      &:hover {
        background-color: $color-black;
      }

      div {
        width: 14px;
        height: 14px;
        position: absolute;
        top: -3px;
        left: 0;
      }
    }
  }
}