<?xml version='1.0' encoding='utf-8'?>
<widget id="com.harmony" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Harmony</name>
    <description>
        Harmony Mobile Appication
    </description>
    <author email="ofirattia@gmail.com">
        Harmony Team
    </author>
    <allow-navigation href="*" />
    <allow-navigation href="bgd://*/*" />
    <allow-navigation href="file://*/*" />
    <access origin="*" />
    <access origin="bgd://*/*" />
    <access origin="file://*/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="bgd://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="26" />
        <allow-intent href="market:*" />
        <content src="index.html" />
        <preference name="Scheme" value="file" />
        <preference name="Hostname" value="android_asset" />
        <preference name="customEntryPoint" value="index.html/#" />
        <preference name="loadUrlTimeoutValue" value="700000" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
            <application android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher" />
        </edit-config>
        <preference name="ContentUpdateEnabled" value="false" />
        <splash density="land-hdpi" src="res/screen/android/splash-land-hdpi.png" />
        <splash density="land-ldpi" src="res/screen/android/splash-land-ldpi.png" />
        <splash density="land-mdpi" src="res/screen/android/splash-land-mdpi.png" />
        <splash density="land-xhdpi" src="res/screen/android/splash-land-xhdpi.png" />
        <splash density="land-xxhdpi" src="res/screen/android/splash-land-xxhdpi.png" />
        <splash density="port-hdpi" src="res/screen/android/splash-port-hdpi.png" />
        <splash density="port-ldpi" src="res/screen/android/splash-port-ldpi.png" />
        <splash density="port-mdpi" src="res/screen/android/splash-port-mdpi.png" />
        <splash density="port-xhdpi" src="res/screen/android/splash-port-xhdpi.png" />
        <splash density="port-xxhdpi" src="res/screen/android/splash-port-xxhdpi.png" />
        <icon density="ldpi" src="res/icons/android/ldpi.png" />
        <icon density="mdpi" src="res/icons/android/mdpi.png" />
        <icon density="hdpi" src="res/icons/android/hdpi.png" />
        <icon density="xhdpi" src="res/icons/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/icons/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icons/android/xxxhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="iosScheme" value="bgd" />
        <preference name="Hostname" value="server/index.html/#/" />
        <content src="index.html" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarStyle" value="default" />
        <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
        <splash src="res/screen/ios/Default@2x~universal~comany.png" />
        <splash src="res/screen/ios/Default@2x~universal~comcom.png" />
        <splash src="res/screen/ios/Default@3x~universal~anyany.png" />
        <splash src="res/screen/ios/Default@3x~universal~anycom.png" />
        <splash src="res/screen/ios/Default@3x~universal~comany.png" />
        <icon height="180" src="res/icons/ios/icon-60@3x.png" width="180" />
        <icon height="60" src="res/icons/ios/icon-60.png" width="60" />
        <icon height="120" src="res/icons/ios/icon-60@2x.png" width="120" />
        <icon height="76" src="res/icons/ios/icon-76.png" width="76" />
        <icon height="152" src="res/icons/ios/icon-76@2x.png" width="152" />
        <icon height="40" src="res/icons/ios/icon-40.png" width="40" />
        <icon height="80" src="res/icons/ios/icon-40@2x.png" width="80" />
        <icon height="57" src="res/icons/ios/icon.png" width="57" />
        <icon height="114" src="res/icons/ios/icon@2x.png" width="114" />
        <icon height="72" src="res/icons/ios/icon-72.png" width="72" />
        <icon height="144" src="res/icons/ios/icon-72@2x.png" width="144" />
        <icon height="167" src="res/icons/ios/icon-167.png" width="167" />
        <icon height="29" src="res/icons/ios/icon-small.png" width="29" />
        <icon height="58" src="res/icons/ios/icon-small@2x.png" width="58" />
        <icon height="87" src="res/icons/ios/icon-small@3x.png" width="87" />
        <icon height="50" src="res/icons/ios/icon-50.png" width="50" />
        <icon height="100" src="res/icons/ios/icon-50@2x.png" width="100" />
        <icon height="167" src="res/icons/ios/icon-83.5@2x.png" width="167" />
        <icon height="48" src="res/icons/ios/icon-24@2x.png" width="48" />
        <icon height="20" src="res/icons/ios/icon-20.png" width="20" />
        <icon height="1024" src="res/icons/ios/icon-1024.png" width="1024" />
        <icon height="87" src="res/icons/ios/icon-29@3x.png" width="87" />
    </platform>
    <preference name="ScrollEnabled" value="true" />
    <preference name="WKSuspendInBackground" value="false" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="WKWebViewOnly" value="true" />
    <preference name="StatusBarStyle" value="default" />
    <preference name="ContentUpdateURL" value="http://127.0.0.1:7000/api/update-provider/getLatestVersionByAppId" />
    <preference name="ContentUpdateEnabled" value="false" />
    <preference name="ApplicationID" value="myapp" />
    <preference name="SplashScreenDelay" value="5000" />
    <preference name="AllowedSchemeURLsAsIntent" value="https://" />
</widget>
