.device-card-col {

}

.device-card {
  width: 18rem;
  text-align: center;
}

.device-card-content {
  height: 500px;
}

.device-card-img {
  width: auto !important;
  max-width: 100%;
  height: 15vw;
}
