$purple: #6b216e;
$white: #ffffff;
$cl-black: #19141f;
$pink: #e60070;
$gr-blur: #416071;
$d-blue: #002b43;
$l-blue: #56cbd6;
$yellow: #fdc827;
$l-grey: #f0f0f0;
$b75: #404040;
$b50: #808080;
$b25:#bfbfbf;
$grey: #e6e6e6;
$super-light: #fbfbfb;
$green: #01bf6e;
$orange: #fbb32e;
$red:#e61922;
