@import '../../../public/sass/vars/colors';

.radioBtnWrapper {
  display: block;
  position: relative;
  padding-right: 28px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 15px;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked {
      ~ {
        .checkmark {
          background-color: $purple;

          &:after {
            display: block;
          }

          &:before {
            display: block;
          }
        }
      }
    }
  }

  &:hover {
    input {
      ~ {
        .checkmark {
          border: 1px solid $purple;
        }
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid $b25;
    border-radius: 50%;

    &:after {
      content: "";
      position: absolute;
      display: none;
      top: 1px;
      left: 1px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: white;
      z-index: 1;
    }

    &:before {
      content: "";
      position: absolute;
      display: none;
      top: 4px;
      left: 4px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $purple;
      z-index: 2;
    }
  }

  &.disabled {
    input:checked ~ .checkmark {
      background-color: $l-grey;
    }

    .checkmark {
      background-color: $l-grey;

      &:before {
        background-color: $l-grey;
      }

      &:after {
        background-color: $l-grey;
      }
    }

    &:hover {
      cursor: default;

      .checkmark {
        border-color: $b25;
      }
    }
  }
}
