
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Harmony Boilerplate</title>
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<% if (htmlWebpackPlugin.options.process.env.BUILD_TYPE === 'mobile') { %>
        <!-- CORDOVA META TAGS -->
        <meta http-equiv="Content-Security-Policy" content="
        default-src * data: blob: ws: wss: gap://ready file://* bgd://*;
        style-src * 'unsafe-inline';
        script-src * 'unsafe-inline' 'unsafe-eval';
        connect-src * ws: wss: https: bgd:;">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
        <meta name="color-scheme" content="light dark">
        <script src="${cordovaPath}"></script>
        <script>
            document.addEventListener('deviceready', onDeviceReady, false);
            function onDeviceReady() {
                // Cordova is now initialized. Have fun!
                navigator.splashscreen.hide();
                console.log('Running cordova-' + cordova.platformId + '@' + cordova.version);
                // ContentSync.checkUpdate();
                location.hash = '#/';
            }
        </script>
	<% } %>
</head>
<body>
	<div id="app"></div>
</body>
</html>
